<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html">
<title></title>
</head>
<body>
	<div style="margin:0 auto;text-align:center;margin-top:100px">
		<h2>404. Not Found</h2>
		<p>not found page</p>
		<pre>
          .----.
       _.'__    `.
   .--($)($$)---/#\
 .' @          /###\
 :         ,   #####
  `-..__.-' _.-\###/
        `;_:    `"'
      .'"""""`.
     /,  ya ,\\
    //  404!  \\
    `-._______.-'
    ___`. | .'___
   (______|______)
		</pre>
	</div>
</body>
</html>